.highlights-stack {
  container: highlights / inline-size;
  display: flex;
  flex-direction: column;
  gap: 48px;

  max-width: 1500px;
  margin: 60px auto $space-stack-l;
}

.highlight-card {
  display: grid;
  grid-auto-rows: auto;
  gap: 24px;

  padding: var(--ifm-global-spacing);

  line-height: var(--ifm-heading-line-height);

  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);


  @container highlights (width > 824px) {
    grid-template-columns: repeat(3, 1fr);

    > div {
      grid-column: span 2;
    }

    &:nth-child(2) > div {
      order: -1;
    }
  }

  &__title {
    @include display-font;

    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0;
  }

}

