$space-stack-l: clamp(80px, calc(5rem + ((1vw - 6px) * 24)), 800px);

@mixin display-font {
  font-family: var(--ifm-font-family-heading);
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.1rem;
}

.home {
  padding: 0 clamp(12px, 10vw, 120px);
}

.banner {
  display: grid;
  gap: 24px;
  justify-items: center;
  padding: $space-stack-l 0 0;

  &__name {
    font-size: clamp(48px, 12vw, 80px);

    @include display-font;
  }

  &__title {
    grid-column: 1;
    font-size: clamp(36px, 8vw, 52px);
    line-height: 1;

    @include display-font;
  }

  &__image {
    order: -1;
    margin-bottom: 40px;
    max-height: 60vh;

    @media screen and (width > 1200px) {
      grid-column: 2;
      grid-row: 1 / span 2;
      justify-self: center;
      order: unset;

      margin-bottom: 0;
    }
  }
}

.intro {
  margin-bottom: 120px;
}

.footer {
  background-color: var(--ifm-footer-background-color) !important;
  color: var(--ifm-footer-color);
  padding: var(--ifm-footer-padding-vertical)
  var(--ifm-footer-padding-horizontal);
}
