$space-stack-l: 120px;

@mixin display-font {
  font-family: var(--ifm-font-family-heading);
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.1rem;
}

.home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 60px;
}

.banner {
  display: grid;
  gap: 40px;
  justify-items: center;
  padding: $space-stack-l 0 0;
  align-items: center;

  @media screen and (width > 1200px) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    @media screen and (width > 1200px) {
      text-align: left;
    }
  }

  &__name {
    font-size: 64px;

    @include display-font;
  }

  &__title {
    font-size: 44px;
    line-height: 1;

    @include display-font;

    &--tight {
      margin-top: -20px;
    }
  }

  &__image {
    max-height: 60vh;
    width: 100%;
    max-width: 400px;
    object-fit: contain;

    @media screen and (width > 1200px) {
      max-width: 500px;
    }
  }
}

.intro {
  margin-bottom: 120px;
}

.footer {
  background-color: var(--ifm-footer-background-color) !important;
  color: var(--ifm-footer-color);
  padding: var(--ifm-footer-padding-vertical)
  var(--ifm-footer-padding-horizontal);
}
