.recommendation-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: var(--ifm-global-spacing);
  line-height: var(--ifm-heading-line-height);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);

  > *:first-child {
    margin-bottom: var(--ifm-global-spacing);
  }

  > p {
    font-family: Georgia, serif;
    margin-bottom: 0;

    &:before,
    &:after {
      content: '"';
      font-size: 2rem;
    }
  }
}